<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egloos.realmove.android.fp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.ProjectListActivity"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".activity.PageListActivity"
            android:launchMode="singleTask"
            android:parentActivityName="com.egloos.realmove.android.fp.activity.ProjectListActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.egloos.realmove.android.fp.activity.ProjectListActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PageEditActivity"
            android:launchMode="singleInstance"
            android:parentActivityName="com.egloos.realmove.android.fp.activity.PageListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.egloos.realmove.android.fp.activity.PageListActivity" />
        </activity>
        <activity
            android:name=".activity.PlayActivity"
            android:launchMode="singleInstance" >
        </activity>
    </application>

</manifest>