<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egloos.realmove.android.fp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".activity.ProjectListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PageListActivity"
            android:parentActivityName="com.egloos.realmove.android.fp.activity.ProjectListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.egloos.realmove.android.fp.activity.ProjectListActivity" />
        </activity>
        <activity
            android:name=".activity.PageEditActivity"
            android:parentActivityName="com.egloos.realmove.android.fp.activity.PageListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.egloos.realmove.android.fp.activity.PageListActivity" />
        </activity>
        <activity android:name=".activity.PlayActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity
            android:name="com.aviary.android.feather.FeatherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:largeHeap="true"
            android:screenOrientation="unspecified"
            android:theme="@style/AviaryTheme" />

        <receiver
            android:name="com.aviary.android.feather.library.receivers.AviarySystemReceiver"
            android:exported="true"
            android:process=":aviary_standalone_system_receiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.aviary.android.feather.v1.API_KEY"
            android:value="0626f7c05709b9f6" />
    </application>

</manifest>